body { 
    /* for fixed nav padding top for body   */
    padding-top: 55px;
    
}
.navbar-header{
    padding: 8px 0;
}

.navbar-brand{
    margin-right: 30px;
    padding: 0;
}
.logo{
    width: 65px;
    box-shadow: 0px 0px 10px 0px #366285;
    top: 3px;
    right: 90%;
}
.navbar-center{
    margin-left: 2%;
}
.navbar-form{
    margin-bottom: 0;
}
.nav>li>a {
    padding: 15px 10px;
}

.navbar-default{
    border: none;
    box-shadow: 0px 0px 5px 0px #555;
}
.navbar-toggle{
    margin-right: 0;
}

#textbox-search{
    margin: 0;
}
.navbar-default .navbar-collapse{
    padding: 15px 0;
}

#textbox-search{
    margin: 0;
}

#search-internship{
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-text{
    margin-left: 20px;
}

@media (max-width:991px){
    .navbar-header{
        padding: 10px;
    }
    .logo{
        width: 50px;
        right: 45%;
    }
    .nav>li>a {
        padding: 15px;
    }
    .navbar-default .navbar-collapse {
        padding: 0px 15px;
   }
}