.dropdown{
    display: inline-block;
}
.btn{
    padding: 8px 25px;
    border-radius: 0;
}

#login, #signup{
    margin: 25px 0px;
}

#logout-btn{
    color: white;
}

.bg-orange{
    background: #f68d20;
    color: white;
}
.bg-blue{
    background-color: #00a9de;
    color: white;    
}

.hero-img{
    width:100%;
    margin-bottom: 25px;
}

.main-img{
    width: 100%;
}
.col-sm-4.btn-grp{
  text-align: center;
    margin: 300px 0px;
}
.logo{
  margin:10px;
  width: 150px;
}

#logout-btn:hover{
    background-color: #bf0600;
}


.form-control{
    margin: 10px auto;
    border-radius: 0px;
}

.padding-10{
    padding: 10px;
}

.form-container{
    max-width:450px;
}

.glyphicon{
    margin-right: 6px
}


form.search  #internship-search-text{
    margin-top: 0;
}

form.search button.btn{
    padding:6px 28px; 
}

div.jumbotron  h3 {
    margin: 15px;
}

div.jumbotron  h4 {
    margin-bottom: 80px;
}

.login-padding{
    padding: 105px 400px;
}


/*Footer Style*/

html {
  position: relative;
  min-height: 100%;
}
body { 
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
}
.footer  > div {
    color: white;
}


@media screen and (max-width : 767px){
    .logo{
        width: 100px;
    }
    #header{
        text-align: center;
    }
    
}
