
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.dropdown-menu{
    min-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif !important;
}

.jumbotron{
    background-color: white;
}

.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.circle{
    border-radius: 50%;
    width: 10%;
    height: 22%;
    /* opacity: 0.7; */
    left: 83%
}
.c1{
    background-color: #0883D9;
    top:15%;
}
.c2{
    background-color:#f68d20;
    top:30%;
}
.c3{
    background-color: #555;
    top:45%;
}
.c4{
    background-color: rgb(0, 178, 223);
    top:60%;
}

.dropdown{
    display: inline-block;
}
.btn{
    padding: 8px 26px;
    border-radius: 0;
}


#logout-btn{
    color: white;
}

.bg-orange{
    background: #f68d20;
    color: white;
}
.bg-blue{
    background-color: #0883D9;
    color: white;    
}
.text-blue{
   color: #00a9de; 
}
.hero-img{
    width:100%;
    margin-bottom: 25px;
}

.main-img{
    width: 100%;
}
.col-sm-4.btn-grp{
  text-align: center;
    margin: 300px 0px;
}

#logout-btn:hover{
    background-color: #bf0600;
}


.form-control{
    margin: 10px auto;
    border-radius: 0px;
}

.padding-10{
    padding: 10px;
}

.form-container{
    max-width:450px;
}

.glyphicon{
    margin-right: 6px
}


form.search  #internship-search-text{
    margin-top: 0;
}

form.search button.btn{
    padding:6px 28px; 
}
div.jumbotron h1{
    margin-bottom: 30px;
}
div.jumbotron h3 {
    margin-bottom: 30px;
}

div.jumbotron  h4 {
    margin-bottom: 30px;
}

.login-padding{
    padding: 105px 400px;
}


/*Footer Style*/

html {
  position: relative;
  min-height: 100%;
}
body { 
    margin-bottom: 60px;
    
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
}
.footer  > div {
    color: white;
}


@media screen and (max-width : 767px){
    .logo{
        width: 100px;
    }
    #header{
        text-align: center;
    }
    
}
